<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div class="row" v-if="loggedIn">
        <div class="col-sm-12 main">
            <h1 class="page-header">{{ $t('admin:borrowlist.caption') }}</h1>
            <div>
                <AjaxLoadIndicator v-bind:ajax-active="ajaxActive"/>
                <ul id="items" class="list-unstyled itemlist">
                    <li class="clearfix" v-for="medium in borrowedMedia">
                        <div class="item">
                            <Medium v-bind:medium="medium"/>
                            <div>
                                <a type="button" class="btn btn-primary" v-on:click="returnMedium(medium.id)">
                                    {{ $t('admin:borrowlist.button') }}
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import { checkRights } from '../../common/utils.js'
    import AjaxLoadIndicator from '../../common/components/AjaxLoadIndicator.vue'
    import Medium from '../../common/components/Medium.vue'

    let data = {
        ajaxActive: false,
        borrowedMedia: []
    }

    export default {
        name: 'BorrowList',
        data() {
            return data
        },
        computed: {
            loggedIn: function () {
                return this.$store.state.loggedIn
            }
        },
        components: {
            AjaxLoadIndicator,
            Medium
        },
        methods: {
            returnMedium: function (id) {
                console.log('Medium ID: ' + id)
                var that = this
                this.ajaxActive = true
                $.ajax({
                    url: '/api/v1/admin/borrow/return/' + id,
                    method: 'GET',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (result) {
                        that.borrowedMedia = result
                        that.$store.commit('setLoggedIn', true)
                        that.ajaxActive = false
                    },
                    error: function (jqXHR) {
                        that.ajaxActive = false
                        if (jqXHR.status === 401) {
                            that.$store.commit('setLoggedIn', false)
                            location.href = '/login'
                        } else {
                            console.log(jqXHR.status)
                        }
                    }
                })
            },
            getMedia: function () {
                var that = this
                this.ajaxActive = true
                $.ajax({
                    url: '/api/v1/admin/borrow/list',
                    method: 'GET',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (result) {
                        that.borrowedMedia = result
                        that.$store.commit('setLoggedIn', true)
                        that.ajaxActive = false
                    },
                    error: function (jqXHR) {
                        that.ajaxActive = false
                        if (jqXHR.status === 401) {
                            that.$store.commit('setLoggedIn', false)
                            location.href = '/login'
                        } else {
                            console.log(jqXHR.status)
                        }
                    }
                })
            }
        },
        mounted: function () {
            if (this.$store.state.uninitialized) {
                checkRights(this);
            }
            this.getMedia();
        }
    }
</script>

<style scoped>

</style>