<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div class="row">
        <div class="col-sm-12 main">
            <div v-if="uploadError" class="text-danger">{{ $t('admin:edit.uploadError') }}</div>
            <AjaxLoadIndicator v-bind:ajax-active="ajaxActive"/>
            <div v-cloak="" class="alert alert-danger" role="alert" v-if="errorText !== ''">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{errorText}}
            </div>
            <div v-cloak="" class="alert alert-success" role="alert" v-if="message !== ''">
                {{message}}
            </div>
            <form v-if="medium != null" id="edit-medium-form">
                <input type="hidden" name="id" v-if="medium.id != null" :value="medium.id"/>
                <InputField type="text" name="title" v-bind:value="medium.title"></InputField>
                <InputField type="text" name="author" v-bind:value="medium.author"></InputField>
                <InputField type="text" name="actors" v-bind:value="medium.actors"></InputField>
                <InputField type="text" name="countryCode" v-bind:value="medium.countryCode"></InputField>
                <InputField type="text" name="director" v-bind:value="medium.director"></InputField>
                <InputField type="number" name="duration" v-bind:value="medium.duration"></InputField>
                <InputField type="number" name="ean" v-bind:value="medium.ean"></InputField>
                <InputField type="text" name="genre" v-bind:value="medium.genre"></InputField>
                <div class="form-group">
                    <label for="categories">{{ $t('admin:edit.medium.categories.text') }}</label>
                    <select class="form-control" id="categories" name="categories" multiple="multiple">
                        <option v-for="category in categories" :value="category.id" :selected="checkCategory(category)">
                            {{ category.name }}
                        </option>
                    </select>
                </div>
                <InputField type="text" name="imageUrl" v-bind:value="medium.imageUrl"></InputField>
                <InputField type="number" name="isbn" v-bind:value="medium.isbn"></InputField>
                <InputField type="text" name="language" v-bind:value="medium.language"></InputField>
                <InputField type="number" name="numPages" v-bind:value="medium.numPages"></InputField>
                <InputField type="text" name="overview" v-bind:value="medium.overview"></InputField>
                <InputField type="text" name="owner" v-bind:value="medium.owner"></InputField>
                <InputField type="text" name="publisher" v-bind:value="medium.publisher"></InputField>
                <InputField type="date" name="releaseDate" v-bind:value="medium.releaseDate | formatDateInput"></InputField>
                <InputField type="text" name="revision" v-bind:value="medium.revision"></InputField>
                <InputField type="text" name="storageLocation" v-bind:value="medium.storageLocation"></InputField>
                <div class="form-group">
                    <label for="type">{{ $t('admin:edit.medium.type.text') }}</label>
                    <select class="form-control" id="type" name="type">
                        <option value="BOOK" :selected="medium.type === 'BOOK'">
                            {{ $t('admin:edit.type.book') }}
                        </option>
                        <option value="MOVIE" :selected="medium.type === 'MOVIE'">
                            {{ $t('admin:edit.type.movie') }}
                        </option>
                        <option value="BOARD_GAME" :selected="medium.type === 'BOARD_GAME'">
                            {{ $t('admin:edit.type.boardGame') }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <div id="control-fileupload-1" class="control-fileupload">
                        <label for="image">{{ $t('admin:edit.medium.image.placeholder') }}</label>
                        <input type="file" id="image" name="image">
                    </div>
                </div>
                <div class="form-group">
                    <a type="button" class="btn btn-primary" v-on:click="saveMedium()">
                        {{ $t('admin:edit.submit') }}
                    </a>
                </div>
                <div v-cloak="" class="alert alert-danger" role="alert" v-if="errorText !== ''">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{errorText}}
                </div>
                <div v-cloak="" class="alert alert-success" role="alert" v-if="message !== ''">
                    {{message}}
                </div>
            </form>
            <div v-if="medium == null">{{ $t('admin:edit.noData') }}</div>
        </div>
    </div>
</template>

<script>
    import { checkRights } from '../../common/utils.js'
    import AjaxLoadIndicator from '../../common/components/AjaxLoadIndicator.vue'
    import InputField from './InputField.vue'

    let data = {
        ajaxActive: false,
        medium: null,
        uploadError: false,
        message: '',
        errorText: '',
        categories: []
    }

    export default {
        name: 'EditMedium',
        data() {
            return data
        },
        computed: {
            loggedIn: function () {
                return this.$store.state.loggedIn
            }
        },
        components: {
            AjaxLoadIndicator,
            InputField
        },
        methods: {
            loadMedium: function () {
                var that = this
                this.ajaxActive = true
                $.ajax({
                    url: '/api/v1/admin/editmedium?id=' + that.$route.query.id,
                    method: 'GET',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (result) {
                        that.medium = result.medium
                        that.categories = result.categories
                        that.$store.commit('setLoggedIn', true)
                        that.ajaxActive = false
                    },
                    error: function (jqXHR) {
                        that.ajaxActive = false
                        if (jqXHR.status === 401) {
                            that.$store.commit('setLoggedIn', false)
                            location.href = '/login'
                        } else {
                            console.log(jqXHR.status)
                        }
                    }
                })
            },
            saveMedium: function () {
                const that = this
                that.ajaxActive = true
                that.errorText = ''
                that.message = ''
                var form = $('#edit-medium-form')[0]
                let data = new FormData(form);
                $.ajax({
                    url: '/api/v1/admin/editmedium',
                    method: 'POST',
                    xhrFields: {
                        withCredentials: true
                    },
                    data: data,
                    cache: false,
                    enctype: 'multipart/form-data',
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.success === true) {
                            that.message = that.$t('admin:edit.' + result.message)
                        } else {
                            that.errorText = that.$t('admin:edit.' + result.message)
                        }
                        that.ajaxActive = false
                    },
                    error: function (jqXHR) {
                        that.ajaxActive = false
                        if (jqXHR.status === 401) {
                            that.$router.push('/login')
                        } else {
                            that.errorText = 'ERROR'
                        }
                    }
                })
            },
            checkCategory: function (category) {
                for (let i = 0; i < this.medium.categories.length; i++) {
                    if (this.medium.categories[i].name === category.name) {
                        return true
                    }
                }
                return false
            },
            chnangeContentText: function () {
                let text= this.$t('admin:edit.medium.image.text')
                document.styleSheets[0].insertRule('#control-fileupload-1:before {content: "' + text + '"}', 0)
            }
        },
        created: function () {
            this.$vueEventBus.$on('i18n-loaded', this.chnangeContentText)
        },
        beforeDestroy: function () {
            this.$vueEventBus.$off('i18n-loaded', this.chnangeContentText)
        },
        mounted: function () {
            const that = this

            if (this.$store.state.uninitialized) {
                checkRights(this);
            }

            $(function() {
                $('input[type=file]').change(function(){
                    let t = $(this).val()
                    let labelText = that.$t('admin:edit.medium.image.placeholder') + t.substr(12, t.length)
                    $(this).prev('label').text(labelText)
                })
            })

            this.loadMedium();
        }
    }
</script>

<style scoped>
    input[type=file] {
        display: block !important;
        right: 1px;
        top: 1px;
        height: 34px;
        opacity: 0;
        width: 100%;
        background: none;
        position: absolute;
        overflow: hidden;
        z-index: 2;
    }
    .control-fileupload {
        display: block;
        border: 1px solid #d6d7d6;
        background: #FFF;
        border-radius: 4px;
        width: 100%;
        height: 36px;
        line-height: 36px;
        padding: 0 10px 2px 10px;
        overflow: hidden;
        position: relative;
        /* File upload button */
    }
    .control-fileupload:before,
    .control-fileupload input,
    .control-fileupload label {
        cursor: pointer !important;
    }
    .control-fileupload:before {
        /* inherit from boostrap btn styles */
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 14px;
        color: #333333;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        vertical-align: middle;
        cursor: pointer;
        background-color: #f5f5f5;
        background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
        background-repeat: repeat-x;
        border: 1px solid #cccccc;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-bottom-color: #b3b3b3;
        border-radius: 4px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        transition: color 0.2s ease;
        /* add more custom styles*/
        content: attr(data-before);
        display: block;
        position: absolute;
        z-index: 1;
        top: 2px;
        right: 2px;
        line-height: 20px;
        text-align: center;
    }
    .control-fileupload:hover:before,
    .control-fileupload:focus:before {
        background-color: #e6e6e6;
        color: #333333;
        text-decoration: none;
        background-position: 0 -15px;
        transition: background-position 0.2s ease-out;
    }
    .control-fileupload label {
        line-height: 24px;
        color: #999999;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;
        z-index: 1;
        margin-right: 90px;
        margin-bottom: 0;
        cursor: text;
    }
</style>