<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div class="row" v-if="loggedIn">
        <div class="col-sm-12 main">
            <h1 class="page-header">{{ $t('admin:import.caption') }}</h1>
            <div>
                <AjaxLoadIndicator v-bind:ajax-active="ajaxActive"/>
                <div v-cloak="" class="alert alert-danger" role="alert" v-if="errorText !== ''">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{errorText}}
                </div>
                <div v-cloak="" class="alert alert-success" role="alert" v-if="message !== ''">
                    {{message}}
                </div>
                <form id="fileUploadForm">
                    <div id="control-fileupload-1" class="control-fileupload">
                        <label for="data-file">{{ $t('admin:import.choose') }}</label>
                        <input type="file" id="data-file" name="data-file">
                    </div>
                    <div>
                        <a type="button" class="btn btn-primary" v-on:click="executeImport()">
                            {{ $t('admin:import.button') }}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import { checkRights } from '../../common/utils.js'
    import AjaxLoadIndicator from '../../common/components/AjaxLoadIndicator.vue'

    let data = {
        ajaxActive: false,
        message: '',
        errorText: ''
    }

    export default {
        name: 'ImportMedia',
        data() {
            return data
        },
        computed: {
            loggedIn: function () {
                return this.$store.state.loggedIn
            }
        },
        components: {
            AjaxLoadIndicator
        },
        methods: {
            executeImport: function () {
                const that = this
                that.ajaxActive = true
                that.errorText = ''
                that.message = ''
                var form = $('#fileUploadForm')[0]
                let data = new FormData(form);
                $.ajax({
                    url: '/api/v1/admin/import',
                    method: 'POST',
                    xhrFields: {
                        withCredentials: true
                    },
                    data: data,
                    cache: false,
                    enctype: 'multipart/form-data',
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.success === true) {
                            that.message = that.$t('admin:import.' + result.message)
                        } else {
                            that.errorText = that.$t('admin:import.' + result.message)
                        }
                        that.ajaxActive = false
                    },
                    error: function (jqXHR) {
                        that.ajaxActive = false
                        if (jqXHR.status === 401) {
                            that.$router.push('/login')
                        } else {
                            that.errorText = 'ERROR'
                        }
                    }
                })
            },
            chnangeContentText: function () {
                let text= this.$t('admin:import.browse')
                document.styleSheets[0].insertRule('#control-fileupload-1:before {content: "' + text + '"}', 0)
            }
        },
        created: function () {
            this.$vueEventBus.$on('i18n-loaded', this.chnangeContentText)
        },
        beforeDestroy: function () {
            this.$vueEventBus.$off('i18n-loaded', this.chnangeContentText)
        },
        mounted: function () {
            const that = this
            this.message = ''
            this.errorText = ''
            if (this.$store.state.uninitialized) {
                checkRights(this);
            }

            $(function() {
                $('input[type=file]').change(function(){
                    let t = $(this).val()
                    let labelText = that.$t('admin:import.file') + t.substr(12, t.length)
                    $(this).prev('label').text(labelText)
                })
            })
        }
    }
</script>

<style scoped>
    input[type=file] {
        display: block !important;
        right: 1px;
        top: 1px;
        height: 34px;
        opacity: 0;
        width: 100%;
        background: none;
        position: absolute;
        overflow: hidden;
        z-index: 2;
    }
    .control-fileupload {
        display: block;
        border: 1px solid #d6d7d6;
        background: #FFF;
        border-radius: 4px;
        width: 100%;
        height: 36px;
        line-height: 36px;
        padding: 0 10px 2px 10px;
        overflow: hidden;
        position: relative;
        /* File upload button */
    }
    .control-fileupload:before,
    .control-fileupload input,
    .control-fileupload label {
        cursor: pointer !important;
    }
    .control-fileupload:before {
        /* inherit from boostrap btn styles */
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 14px;
        color: #333333;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        vertical-align: middle;
        cursor: pointer;
        background-color: #f5f5f5;
        background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
        background-repeat: repeat-x;
        border: 1px solid #cccccc;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-bottom-color: #b3b3b3;
        border-radius: 4px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        transition: color 0.2s ease;
        /* add more custom styles*/
        content: 'Select File';
        display: block;
        position: absolute;
        z-index: 1;
        top: 2px;
        right: 2px;
        line-height: 20px;
        text-align: center;
    }
    .control-fileupload:hover:before,
    .control-fileupload:focus:before {
        background-color: #e6e6e6;
        color: #333333;
        text-decoration: none;
        background-position: 0 -15px;
        transition: background-position 0.2s ease-out;
    }
    .control-fileupload label {
        line-height: 24px;
        color: #999999;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;
        z-index: 1;
        margin-right: 90px;
        margin-bottom: 0;
        cursor: text;
    }
</style>
