<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div>
        <div class="form-group">
            <label :for="name" >{{ $t('admin:edit.medium.' + name + '.text') }}</label>
            <input class="form-control" :type="type" :id="name" :name="name" :placeholder="$t('admin:edit.medium.' + name + '.placeholder')" :value="value"/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "InputField",
        props: {
            type: "",
            name: "",
            value: ""
        }
    }
</script>

<style scoped>

</style>