<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div class="loader">
        <p v-show="ajaxActive">
            <img v-show="ajaxActive" src="/static/images/ajax-loader.gif" alt="Loading…"/>
        </p>
    </div>
</template>

<script>
    export default {
        name: 'AjaxLoadIndicator',
        props: {
            ajaxActive: {
                type: Boolean,
                default: true
            }
        }
    }
</script>

<style scoped>

</style>