<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div class="medium-component-container">
        <div class="pull-left cover">
            <img class="img-responsive" v-bind:src="medium.imagePath"/>
        </div>
        <div class="title">{{medium.title}}</div>
        <div class="author">{{medium.author}}</div>
        <div class="release-date">{{medium.releaseDate | formatDate}}</div>
    </div>
</template>

<script>
    export default {
        name: "Medium",
        props: {
            medium: Object
        }
    }
</script>

<style scoped>
.medium-component-container {
    margin-bottom: 5px;
}
</style>