<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div >
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">{{ $t('common:navbar.brand') }}</span>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul v-if="show && !adminApp" class="nav navbar-nav">
                        <li><router-link v-cloak="" to="/">{{ $t('common:navbar.itemlist') }}</router-link></li>
                        <li><router-link v-cloak="" to="/newArrivals">{{ $t('common:navbar.newArrivals') }}</router-link></li>
                        <li><router-link v-cloak="" to="/account">{{ $t('common:navbar.userdata') }}</router-link></li>
                        <li><router-link v-cloak="" to="/help">{{ $t('common:navbar.help') }}</router-link></li>
                        <li role="separator" class="h-divider"></li>
                        <li v-if="showAdmin"><a v-cloak="" href="/admin/borrow">{{ $t('common:navbar.borrow') }}</a></li>
                        <li v-if="showAdmin"><a v-cloak="" href="/admin/codes">{{ $t('common:navbar.codes') }}</a></li>
                        <li v-if="showAdmin"><a v-cloak="" href="/admin/import">{{ $t('common:navbar.import') }}</a></li>
                        <li v-if="showAdmin" role="separator" class="h-divider"></li>
                        <li>
                            <button v-cloak="" type="button" class="btn btn-default navbar-btn" v-on:click="logout">
                                {{ $t('common:navbar.logout') }}
                            </button>
                        </li>
                    </ul>

                    <ul v-if="show && adminApp" class="nav navbar-nav">
                        <li><a v-cloak="" href="/">{{ $t('common:navbar.itemlist') }}</a></li>
                        <li><a v-cloak="" href="/newArrivals">{{ $t('common:navbar.newArrivals') }}</a></li>
                        <li><a v-cloak="" href="/account">{{ $t('common:navbar.userdata') }}</a></li>
                        <li><a v-cloak="" href="/help">{{ $t('common:navbar.help') }}</a></li>
                        <li role="separator" class="h-divider"></li>
                        <li v-if="showAdmin"><router-link v-cloak="" to="/admin/borrow">{{ $t('common:navbar.borrow') }}</router-link></li>
                        <li v-if="showAdmin"><router-link v-cloak="" to="/admin/codes">{{ $t('common:navbar.codes') }}</router-link></li>
                        <li v-if="showAdmin"><router-link v-cloak="" to="/admin/import">{{ $t('common:navbar.import') }}</router-link></li>
                        <li v-if="showAdmin" role="separator" class="h-divider"></li>
                        <li>
                            <button v-cloak="" type="button" class="btn btn-default navbar-btn" v-on:click="logout">
                                {{ $t('common:navbar.logout') }}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        name: 'Navbar',
        props: {
            adminApp: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            show: function () {
                return this.$store.state.navbar.show
            },
            showAdmin: function () {
                return this.$store.state.navbar.showAdmin
            }
        },
        methods: {
            logout: function() {
                let that = this
                $.ajax({
                    url: '/api/v1/security/logout',
                    method: 'GET',
                    xhrFields: {
                        withCredentials: true
                    },
                    dataType: 'json',
                    success: function (result) {
                        that.$store.commit('reset')
                        if (that.adminApp) {
                            location.href = '/login'
                        } else {
                            that.$router.push('/login')
                        }
                    },
                    error: function (jqXHR) {
                        if (jqXHR.status === 401) {
                            that.$store.commit('reset')
                            if (that.adminApp) {
                                location.href = '/login'
                            } else {
                                that.$router.push('/login')
                            }
                        }
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>