/*
    Java web application for media library management.
    Copyright (C) 2018  Andreas Schmitz

    This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as
    published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program; if not, see <http://www.gnu.org/licenses/>.
*/
[v-cloak] {
    display: none; !important;
    visibility: hidden;
}

/*
 * Base structure
 */


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

body { padding-top: 70px; }

.navbar-btn {
    margin-left: 15px;
}
/*
 * Main content
 */

.main {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.registerinput, .accountinput {
    max-width: 768px;
}
.registerinput .buttons, .accountinput .buttons {
    text-align: right;
}

.itemlist {
    padding-left: 0;
}
.itemlist li {
    padding-bottom: 5px;
}
.itemlist .item {
    overflow: auto;
    border: 1px solid #0088ce;
    border-radius: 5px;
    padding: 2px;
}
.itemlist .item.loanedout {
    border: 1px solid red;
}
.itemlist .cover {
    width: 100px;
    min-height: 100px;
    padding-right: 5px;
}
.itemlist .cover img {
    display: block;
    border: 1px solid #000000;
}
.itemlist .title {
    display: block;
    font-size: 16px;
    color: #0088ce;
}
.itemlist .author {
    font-style: italic;
    display: block;
}
.totalElements {
    padding-left: 20px;
}

.keys {
    margin-top: 20px;
}
.keylist {
    padding-left: 0;
    overflow: auto;
}
.keylist .key {
}

.icon-list li {
    padding: 0 0 5px 20px;
    display: block;
    position: relative;
}
.icon-list li:before {
    font-family: 'Glyphicons Halflings';
    position: absolute;
    left: 0;
    top:3px;
    font-size:80%
}
.gift li:before {
    content: '\e102';
}

.search input {
    margin-bottom: 10px;
}

.h-divider {
    height: 1px;
    margin: 0 9px;
    overflow: hidden;
    background-color: #e5e5e5;
}

.push {
    margin-bottom: 10px;
}
.push span, .push input[type="checkbox"] {
    margin-right: 5px;
}
.push ul {
    margin: 0;
}
.push div {
    margin-bottom: 10px;
}

.bottom-10 {
    margin-bottom: 10px;
}