<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div class="row">
        <div v-cloak="" class="col-sm-12 main">
            <h1 class="page-header">{{ $t("main:account.caption") }}</h1>
            <div class="clearfix accountinput">
                <div v-cloak="" class="alert alert-danger" role="alert" v-if="errorText !== ''">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{errorText}}
                </div>
                <div v-cloak="" class="alert alert-success" role="alert" v-if="message !== ''">
                    {{message}}
                </div>
                <form id="accountForm" class="search" v-on:submit.prevent="edit" onsubmit="">
                    <AjaxLoadIndicator v-bind:ajax-active="ajaxActive"/>
                    <div class="form-group">
                        <label for="newPassword">{{ $t("main:account.newPassword.label") }}</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                               :placeholder="$t('main:account.newPassword.placeholder')"/>
                    </div>
                    <div class="form-group">
                        <label for="newPasswordRepeat">{{ $t("main:account.newPassword.repeat.label") }}</label>
                        <input type="password" class="form-control" id="newPasswordRepeat" name="newPasswordRepeat"
                               :placeholder="$t('main:account.newPassword.repeat.placeholder')"/>
                    </div>
                    <div class="form-group">
                        <label for="password">{{ $t("main:account.password.label") }}</label>
                        <input type="password" class="form-control" id="password" name="password"
                               :placeholder="$t('main:account.password.placeholder')"/>
                    </div>
                    <div class="push">
                        <hr/>
                        <h2><span>{{ $t("main:account.messages.headline") }}</span></h2>
                        <div >{{ $t("main:account.messages.text") }}</div>
                        <ul v-cloak="" class="list-unstyled icon-list">
                            <li class="glyphicon-envelope">
                                <input type="checkbox" name="emailNotification" v-model="notification"/>
                                <span >{{ $t("main:account.messages.email") }}</span>
                            </li>
                        </ul>
                    </div>
                </form>
                <PushConfig v-bind:push-public-key="pushPublicKey"/>
                <div class="buttons">
                    <button type="button" class="btn btn-default pull-left" v-on:click="$router.push('/')">
                        {{ $t("main:account.back") }}
                    </button>
                    <button type="button" v-on:click="edit" class="btn btn-primary">
                        {{ $t("main:account.submit") }}
                    </button>
                </div>
                <div class="keys">
                    <hr/>
                    <h2><span>{{ $t("main:account.invitationKeys") }}</span> <span v-cloak="" class="badge">{{invitationKeys.length}}</span></h2>
                    <ul v-cloak="" id="invitationKeys" class="list-unstyled icon-list gift keylist">
                        <li class="clearfix" v-for="key in invitationKeys">
                            <div class="key">
                                <div>{{key}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AjaxLoadIndicator from '../../common/components/AjaxLoadIndicator.vue'
    import PushConfig from './PushConfig.vue'
    import {handleAuthorities} from '../../common/utils'

    let data = {
        message: '',
        errorText: '',
        ajaxActive: false,
        eMail: '',
        notification: false,
        invitationKeys: [],
        pushPublicKey: ''
    }

    export default {
        name: 'Account',
        data() {
            return data
        },
        computed: {
            loggedIn: function () {
                return this.$store.state.loggedIn
            }
        },
        components: {
            AjaxLoadIndicator,
            PushConfig
        },
        methods: {
            edit: function () {
                const that = this
                this.ajaxActive = true
                that.errorText = ''
                that.message = ''
                $.ajax({
                    url: '/api/v1/account/edit',
                    method: 'POST',
                    xhrFields: {
                        withCredentials: true
                    },
                    data: $('#accountForm').serialize(),
                    dataType: 'json',
                    success: function (result) {
                        if (result.success === true) {
                            that.message = that.$t('main:account.edit.' + result.message)
                        } else {
                            that.errorText = result.message
                        }
                        that.ajaxActive = false
                    },
                    error: function (jqXHR) {
                        that.ajaxActive = false
                        if (jqXHR.status === 401) {
                            that.$router.push('/login')
                        } else {
                            that.errorText = 'ERROR'
                        }
                    }
                })
            },
            hasAuthority: function(authority) {
                return hasAuthority(this.$store.state.authorities, authority)
            },
            loadData: function() {
                const that = this
                this.ajaxActive = true
                $.ajax({
                    url: '/api/v1/account/data',
                    method: 'GET',
                    xhrFields: {
                        withCredentials: true
                    },
                    dataType: 'json',
                    success: function (result) {
                        that.eMail = result.data.eMail
                        that.notification = result.data.eMailNotification
                        that.invitationKeys = result.data.invitationKeys
                        handleAuthorities(that.$store, result.authorities)
                        that.pushPublicKey = result.data.pushPublicKey
                        that.ajaxActive = false
                        if (!that.$store.state.loggedIn) {
                            that.$router.push('login')
                        }
                    },
                    error: function (jqXHR) {
                        that.ajaxActive = false
                        if (jqXHR.status === 401) {
                            that.$store.commit('setLoggedIn', false)
                            that.$router.push('/login')
                        } else {
                            that.errorText = 'ERROR'
                        }
                    }
                })
            }
        },
        mounted: function () {
            this.message = ''
            this.errorText = ''
            this.loadData()
        }
    }
</script>

<style scoped>

</style>