<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div style="display:none" class="modal fade" id="borrowModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ $t("main:borrowmodal.caption") }}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" v-if="errorText !== ''">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{errorText}}
                    </div>
                    <form id="borrowForm" v-on:submit.prevent="borrow" action="" method="post">
                        <input type="hidden" id="itemId" name="itemId" v-model="itemId" value=""/>
                    </form>
                    <div class="itemlist">
                        <AjaxLoadIndicator v-bind:ajax-active="ajaxActive"/>
                        <div class="item">
                            <div class="pull-left cover">
                                <img class="img-responsive" v-bind:src="itemImagePath"/>
                            </div>
                            <div class="title">{{itemTitle}}</div>
                            <div class="author">{{itemAuthor}}</div>
                            <div class="release-date">{{itemReleaseDate | formatDate}}</div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ $t("main:borrowmodal.close") }}</button>
                    <button type="button" v-on:click="borrow" class="btn btn-primary">{{ $t("main:borrowmodal.ok") }}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AjaxLoadIndicator from '../../common/components/AjaxLoadIndicator.vue'

    let data = {
        ajaxActive: false,
        itemId: '',
        itemImagePath: '',
        itemTitle: '',
        itemAuthor: '',
        itemReleaseDate: '',
        itemIdPrefix: '#medium-',
        errorText: null
    }
    export default {
        name: 'BorrowModal',
        data() {
            return data
        },
        components: {
            AjaxLoadIndicator
        },
        methods: {
            borrow: function () {
                const that = this
                const $borrowModal = $(this.$el)
                this.ajaxActive = true
                $.ajax({
                    url: '/api/v1/media/borrow',
                    method: 'POST',
                    xhrFields: {
                        withCredentials: true
                    },
                    data: $borrowModal.find('form').serialize(),
                    dataType: 'json',
                    success: function (result) {
                        if (result.success === true) {
                            that.$vueEventBus.$emit('loan-item', that.itemId)
                            $borrowModal.modal('hide')
                        } else {
                            that.errorText = result.message
                        }
                        that.ajaxActive = false
                    },
                    error: function () {
                        console.log('error')
                        that.errorText = 'ERROR'
                        that.ajaxActive = false
                    }
                })
            }
        },
        mounted: function () {
            const that = this

            const $borrowModal = $(this.$el)
            $borrowModal.on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget)
                that.itemId = button.data('item-id')
                that.itemImagePath = button.data('item-image-path')
                that.itemTitle = button.data('item-title')
                that.itemAuthor = button.data('item-author')
                that.itemReleaseDate = button.data('item-release-date')
                that.errorText = ""
            })
            $borrowModal.on('shown.bs.modal', function (event) {
                $('#eMail').focus()
            })
        }
    }
</script>

<style scoped>

</style>