<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div class="row">
        <div v-cloak="" class="col-sm-12 main" v-if="show">
            <AjaxLoadIndicator v-bind:ajax-active="ajaxActive"/>
            <h1 class="page-header">{{ $t('main:help.caption') }}</h1>
            <div class="clearfix">
                <h2>{{ $t('main:help.borrow.caption')}}</h2>
                <span v-html="$t('main:help.borrow.text')"></span>
            </div>
            <div class="clearfix">
                <h2>{{ $t('main:help.data.caption') }}</h2>
                <span v-html="$t('main:help.data.text')"></span>
            </div>
        </div>
    </div>
</template>

<script>
    import AjaxLoadIndicator from '../../common/components/AjaxLoadIndicator.vue'
    import {checkRights} from '../../common/utils'

    let data = {
        ajaxActive: false
    }

    export default {
        name: 'Help',
        data() {
            return data
        },
        computed: {
            show: function () {
                return this.$store.state.loggedIn
            }
        },
        components: {
            AjaxLoadIndicator
        },
        mounted: function () {
            if (this.$store.state.uninitialized) {
                checkRights(this);
            }
        }
    }
</script>

<style scoped>

</style>