<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div class="row">
        <div class="col">
            <div class="card col-sm-6">
                <div class="card-header">
                    <h4 class="card-title">{{ $t("main:login.caption") }}</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger" role="alert" v-if="errorText !== ''">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{errorText}}
                    </div>
                    <form id="loginForm" v-on:submit.prevent="login" action="" method="post">
                        <AjaxLoadIndicator v-bind:ajax-active="ajaxActive"/>
                        <div class="form-group">
                            <label for="username">{{ $t("main:login.email.label") }}</label>
                            <input type="email" class="form-control" id="username" name="username" :placeholder="$t('main:login.email.placeholder')"/>
                        </div>
                        <div class="form-group">
                            <label for="password">{{ $t("main:login.password.label") }}</label>
                            <input type="password" class="form-control" id="password" name="password" :placeholder="$t('main:login.password.placeholder')" v-on:keyup.enter="login"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" v-on:click="$router.push('register')">{{ $t("main:login.register") }}</button>
                    <button type="button" v-on:click="login" class="btn btn-primary">{{ $t("main:login.ok") }}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AjaxLoadIndicator from '../../common/components/AjaxLoadIndicator.vue'
    import {handleAuthorities} from '../../common/utils'

    let data = {
        ajaxActive: false,
        errorText: ''
    }
    export default {
        name: 'Login',
        data() {
            return data
        },
        components: {
            AjaxLoadIndicator
        },
        methods: {
            login: function () {
                const that = this
                this.ajaxActive = true
                $.ajax({
                    url: '/api/v1/security/login-processing',
                    method: 'POST',
                    xhrFields: {
                        withCredentials: true
                    },
                    data: $('#loginForm').serialize(),
                    dataType: 'json',
                    success: function (result) {
                        if (result.success !== false) {
                            handleAuthorities(that.$store, result.authorities)
                            that.$router.push('/')
                        } else {
                            that.errorText = result.message
                        }
                        that.ajaxActive = false
                    },
                    error: function () {
                        that.errorText = 'ERROR'
                        that.ajaxActive = false
                    }
                })
            }
        },
        mounted: function () {
            this.$store.commit('showNavbar', false)
            this.$store.commit('showAdminNavbar', false)
            this.errorText = ''
            $('#username').focus()
        }
    }
</script>

<style scoped>

</style>