<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div class="row" v-if="loggedIn">
        <div class="col-sm-12 main">
            <h1 class="page-header">{{ $t("main:medialist.caption") }}</h1>
            <div class="clearfix">
                <form id="searchForm" class="search" v-on:submit.prevent="search" onsubmit="">
                    <input type="text" v-on:blur="search" v-model="keywords" class="col-xs-7 col-sm-8 col-md-5 col-lg-3" id="search"
                           name="search" :placeholder="$t('main:medialist.search')" autofocus="autofocus"/>
                    <span v-cloak="" class="totalElements">{{totalElements}}&nbsp;{{ $t("main:medialist.media") }}</span>
                </form>
            </div>
            <div>
                <AjaxLoadIndicator v-bind:ajax-active="ajaxActive"/>
                <ul id="items" class="list-unstyled itemlist d-none">
                    <li class="clearfix" v-for="medium in media">
                        <div class="item" v-bind:id="'medium-' + medium.id" v-bind:class="{ loanedout: medium.loanedOut }">
                            <Medium v-bind:medium="medium"/>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#borrowModal"
                                    v-bind:data-item-id="medium.id" v-bind:data-item-image-path="medium.imagePath"
                                    v-bind:data-item-title="medium.title" v-bind:data-item-author="medium.author"
                                    v-bind:data-item-release-date="medium.releaseDate" v-if="!medium.loanedOut">
                                {{ $t('main:medialist.borrowButton') }}
                            </button>
                            <a type="button" class="btn btn-default" v-if="hasAuthority('ROLE_ADMIN')" target="_blank"
                               v-bind:href="'/admin/editmedium?id=' + medium.id">
                                {{ $t('main:medialist.edit') }}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import AjaxLoadIndicator from '../../common/components/AjaxLoadIndicator.vue'
    import Medium from '../../common/components/Medium.vue'
    import {handleAuthorities, hasAuthority} from '../../common/utils'

    let data = {
        media: [],
        keywords: '',
        lastKeywords: '',
        ajaxActive: false,
        lastPage: false,
        actualPageNum: -1,
        totalElements: 0
    }

    export default {
        name: 'MediaList',
        data() {
            return data
        },
        computed: {
            loggedIn: function () {
                return this.$store.state.loggedIn
            }
        },
        components: {
            AjaxLoadIndicator,
            Medium
        },
        methods: {
            getNextPage: function (keywords) {
                if (this.lastPage || this.ajaxActive) {
                    return
                }
                const that = this
                this.ajaxActive = true
                const pageNum = this.actualPageNum + 1
                $.ajax({
                    url: '/api/v1/media/search?page=' + pageNum + '&keywords=' + keywords,
                    xhrFields: {
                        withCredentials: true
                    },
                    dataType: 'json',
                    success: function (result) {
                        const page = result.data
                        that.actualPageNum = pageNum
                        that.lastPage = page.last
                        that.media = that.media.concat(page.content)
                        that.totalElements = page.totalElements
                        handleAuthorities(that.$store, result.authorities)
                        that.ajaxActive = false
                        if (!that.$store.state.loggedIn) {
                            that.$router.push('login')
                        }
                    },
                    error: function (jqXHR) {
                        that.ajaxActive = false
                        if (jqXHR.status === 401) {
                            that.$store.commit('setLoggedIn', false)
                            that.$router.push('login')
                        } else {
                            console.log(jqXHR.status)
                        }
                    }
                })
            },
            search: function () {
                if (this.keywords !== this.lastKeywords) {
                    this.lastKeywords = this.keywords
                    this.media = []
                    this.lastPage = false
                    this.actualPageNum = -1
                    this.getNextPage(this.keywords)
                }
            },
            getMedium: function (id) {
                for (let i = 0; i < this.media.length; i++) {
                    if (this.media[i].id === id) {
                        return this.media[i]
                    }
                }
                return null
            },
            hasAuthority: function(authority) {
                return hasAuthority(this.$store.state.authorities, authority)
            },
            loanItem: function(itemId) {
                this.getMedium(itemId).loanedOut = true
            }
        },
        created: function () {
            this.$vueEventBus.$on('loan-item', this.loanItem)
        },
        beforeDestroy: function () {
            this.$vueEventBus.$off('loan-item', this.loanItem)
        },
        mounted: function () {
            const that = this

            const win = $(window)
            win.scroll(function () {
                // End of the document reached?
                if (win.scrollTop() + 20 >= $(document).height() - win.height()) {
                    that.getNextPage(that.keywords)
                }
            })

            if (this.totalElements === 0) {
                this.getNextPage(this.keywords)
            }

            this.$nextTick(function () {
                $('#search').focus()
            })
        }
    }
</script>

<style scoped>

</style>