<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div class="row" v-if="loggedIn">
        <div class="col-sm-12 main">
            <h1 class="page-header">{{ $t('main:newArrivals.caption') }}</h1>
            <div>
                <div class="bottom-10">{{ (newArrivals[0] && newArrivals[0].createdDate) | formatDate }}</div>
                <AjaxLoadIndicator v-bind:ajax-active="ajaxActive"/>
                <ul id="items" class="list-unstyled itemlist">
                    <li class="clearfix" v-for="medium in newArrivals">
                        <div class="item">
                            <Medium v-bind:medium="medium"/>
                            <a type="button" class="btn btn-default" v-if="hasAuthority('ROLE_ADMIN')" target="_blank"
                               v-bind:href="'/admin/editmedium?id=' + medium.id">
                                {{ $t('main:medialist.edit') }}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import { checkRights, hasAuthority } from '../../common/utils.js'
    import AjaxLoadIndicator from '../../common/components/AjaxLoadIndicator.vue'
    import Medium from '../../common/components/Medium.vue'

    let data = {
        ajaxActive: false,
        newArrivals: []
    }

    export default {
        name: 'NewArrivals',
        data() {
            return data
        },
        computed: {
            loggedIn: function () {
                return this.$store.state.loggedIn
            }
        },
        components: {
            AjaxLoadIndicator,
            Medium
        },
        methods: {
            getMedia: function () {
                var that = this
                this.ajaxActive = true
                $.ajax({
                    url: '/api/v1/media/newArrivals',
                    method: 'GET',
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (result) {
                        that.newArrivals = result
                        that.$store.commit('setLoggedIn', true)
                        that.ajaxActive = false
                    },
                    error: function (jqXHR) {
                        that.ajaxActive = false
                        if (jqXHR.status === 401) {
                            that.$store.commit('setLoggedIn', false)
                            location.href = '/login'
                        } else {
                            console.log(jqXHR.status)
                        }
                    }
                })
            },
            hasAuthority: function(authority) {
                return hasAuthority(this.$store.state.authorities, authority)
            },
        },
        mounted: function () {
            if (this.$store.state.uninitialized) {
                checkRights(this);
            }
            this.getMedia();
        }
    }
</script>

<style scoped>

</style>