<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div class="push">
        <ul v-cloak="" class="list-unstyled icon-list">
            <li class="glyphicon-envelope">
                <form id="push-form" action="#">
                    <span>{{ $t("main:account.messages.push.text") }}</span>
                    <button type="button" class="btn btn-default" v-show="hasWorker && !isSubscribed" id="aboButton">
                        {{ $t('main:account.messages.push.abo') }}
                    </button>
                    <button type="button" class="btn btn-default" v-show="hasWorker && isSubscribed" id="deAboButton">
                        {{ $t('main:account.messages.push.deAbo') }}
                    </button>
                    <output>{{ output }}</output>
                </form>
            </li>
        </ul>
    </div>
</template>

<script>
    let data = {
        output: '',
        isSubscribed: false,
        hasWorker: false
    }

    export default {
        name: 'PushConfig',
        data() {
            return data
        },
        props: {
            pushPublicKey: {
                type: String,
                default: ''
            }
        },
        methods: {
            sendSubscription: function (subscription) {
                const that = this
                $.ajax({
                    url: '/api/v1/account/subscribe',
                    method: 'POST',
                    xhrFields: {
                        withCredentials: true
                    },
                    data: JSON.stringify(subscription),
                    dataType: 'json',
                    success: function (result) {
                        if (result.success === true) {
                            that.output = ''
                        } else {
                            that.output = 'error saving subscription data'
                        }
                    },
                    error: function (jqXHR) {
                        console.log(jqXHR.status)
                        that.output = 'error sending subscription data'
                    }
                })
            },
            urlBase64ToUint8Array: function (base64String) {
                const padding = '='.repeat((4 - base64String.length % 4) % 4)
                const base64 = (base64String + padding)
                    .replace(/-/g, '+')
                    .replace(/_/g, '/')
                const rawData = window.atob(base64)
                return Uint8Array.from([...rawData].map((char) => char.charCodeAt(0)))
            },
            chnangeContentText: function () {
                if (this.output === 'account.messages.push.notSupported') {
                    this.output = this.$t("main:account.messages.push.notSupported")
                }
            }
        },
        created: function () {
            this.$vueEventBus.$on('i18n-loaded', this.chnangeContentText)
        },
        beforeDestroy: function () {
            this.$vueEventBus.$off('i18n-loaded', this.chnangeContentText)
        },
        mounted: function () {
            const that = this
            const aboButton = document.querySelector('#aboButton')
            const deAboButton = document.querySelector('#deAboButton')
            let worker = null

            if ('serviceWorker' in navigator && 'PushManager' in window) {
                navigator.serviceWorker.register('static/js/worker.js').then(reg => {
                    worker = reg
                    that.hasWorker = true
                    that.output = ''
                    worker.pushManager.getSubscription().then(subscription => {
                        that.isSubscribed = subscription !== null
                    })
                }).catch(err =>
                    console.error(err)
                )
            } else {
                that.output = that.$t("main:account.messages.push.notSupported")
            }

            aboButton.addEventListener('click', ev => {
                worker.pushManager.subscribe({
                    userVisibleOnly: true,
                    applicationServerKey: that.urlBase64ToUint8Array(that.pushPublicKey)
                }).then(subscr => {
                    that.sendSubscription(subscr)
                    that.isSubscribed = true
                }).catch(err =>
                    console.log(err)
                )
            })
            deAboButton.addEventListener('click', ev => {
                worker.pushManager.getSubscription().then(subscr => {
                    if (subscr) {
                        subscr.unsubscribe()
                    }
                }).catch(err =>
                    console.log(err)
                ).then(() => {
                    that.output = ''
                    that.isSubscribed = false
                })
            })
        }
    }
</script>

<style scoped>

</style>