<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div class="row" id="pageContent">
        <div class="col-sm-12 main">
            <h1 class="page-header">{{ $t('main:confirmation.caption') }}</h1>
            <AjaxLoadIndicator v-bind:ajax-active="ajaxActive"/>
            <div class="clearfix">
                <div v-cloak="" class="alert alert-danger" role="alert" v-if="errorText !== ''">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span v-cloak="" v-html="errorText">errorText</span>
                </div>
                <span v-cloak="" v-if="errorText === '' && confirmationReady" v-html="$t('main:confirmation.text')">Hinweistext</span>
            </div>
            <div v-if="errorText === '' && confirmationReady">
                <hr/>
                <div class="buttons">
                    <button type="button" class="btn btn-primary" v-on:click="$router.push('login')">
                        {{ $t("main:confirmation.login") }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AjaxLoadIndicator from '../../common/components/AjaxLoadIndicator.vue'

    let data = {
        confirmationReady: false,
        errorText: '',
        ajaxActive: false
    }

    export default {
        name: 'RegisterConfirmation',
        data() {
            return data
        },
        components: {
            AjaxLoadIndicator
        },
        mounted: function () {
            this.ajaxActive = true
            this.errorText = ''
            const that = this
            const doiCode = this.$route.query.dc
            $.ajax({
                url: '/api/v1/account/doiConfirmation/' + doiCode,
                method: 'GET',
                xhrFields: {
                    withCredentials: true
                },
                success: function (result) {
                    if (result.success !== true) {
                        that.errorText = result.message
                    }
                    that.confirmationReady = true
                    that.ajaxActive = false
                },
                error: function (jqXHR) {
                    that.ajaxActive = false
                    console.log(jqXHR.status)
                    that.errorText = 'ERROR'
                }
            })
        }
    }
</script>

<style scoped>

</style>