<!--Java web application for media library management.-->
<!--Copyright (C) 2018  Andreas Schmitz-->

<!--This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as-->
<!--published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.-->

<!--This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.-->

<!--You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.-->
<template>
    <div class="row">
        <div class="modal fade" id="termsModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">{{ $t('main:register.terms.caption') }}</h4>
                    </div>
                    <div class="modal-body">
                        <div v-html="$t('main:register.terms.text')">Geschwafel</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            {{ $t('main:register.terms.close') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 main">
            <h1 class="page-header">{{ $t('main:register.caption') }}</h1>
            <div class="clearfix registerinput">
                <div v-cloak="" class="alert alert-danger" role="alert" v-if="errorText !== ''">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{errorText}}
                </div>
                <form id="registerForm" class="search" v-on:submit.prevent="register" onsubmit="">
                    <AjaxLoadIndicator v-bind:ajax-active="ajaxActive"/>
                    <div class="form-group">
                        <label for="email">{{ $t('main:register.email.label') }}</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail-Adresse"
                               :placeholder="$t('main:register.email.placeholder')"/>
                    </div>
                    <div class="form-group">
                        <label for="password">{{ $t('main:register.password.label') }}</label>
                        <input type="password" class="form-control" id="password" name="password"
                               :placeholder="$t('main:register.password.placeholder')"/>
                    </div>
                    <div class="form-group">
                        <label for="passwordRepeat">{{ $t('main:register.password.repeat.label') }}</label>
                        <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat"
                               :placeholder="$t('main:register.password.repeat.placeholder')"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="acceptTerms" name="acceptTerms" v-on:keyup.enter="register"/>
                        <label class="form-check-label" for="acceptTerms"><span v-html="$t('main:register.acceptTerms')"></span></label>
                    </div>
                    <div class="form-group" id="invitationKeyDiv" v-if="invitationNeeded">
                        <label for="invitationKey">{{ $t('main:register.invitationKey.label') }}</label>
                        <input type="text" class="form-control" id="invitationKey" name="invitationKey"
                               :placeholder="$t('main:register.invitationKey.placeholder')"
                               v-on:keyup.enter="register"/>
                    </div>
                    <div class="buttons">
                        <button type="button" class="btn btn-default pull-left" v-on:click="$router.push('login')">
                            {{ $t('main:register.login') }}
                        </button>
                        <button type="button" v-on:click="register" class="btn btn-primary">
                            {{ $t('main:register.submit') }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import AjaxLoadIndicator from '../../common/components/AjaxLoadIndicator.vue'

    let data = {
        invitationNeeded: false,
        ajaxActive: false,
        errorText: ''
    }

    export default {
        name: 'Register',
        data() {
            return data
        },
        components: {
            AjaxLoadIndicator
        },
        methods: {
            register: function () {
                var that = this
                this.ajaxActive = true
                $.ajax({
                    url: '/api/v1/account/new',
                    method: 'POST',
                    xhrFields: {
                        withCredentials: true
                    },
                    data: $('#registerForm').serialize(),
                    dataType: 'json',
                    success: function (result) {
                        if (result.success === true) {
                            that.$router.push('/registered')
                        } else {
                            that.errorText = result.message
                        }
                        that.ajaxActive = false
                    },
                    error: function (jqXHR) {
                        that.ajaxActive = false
                        console.log(jqXHR.status)
                        that.errorText = 'ERROR'
                    }
                })
            }
        },
        mounted: function () {
            var that = this
            this.ajaxActive = true
            $.ajax({
                url: '/api/v1/account/new',
                method: 'GET',
                xhrFields: {
                    withCredentials: true
                },
                dataType: 'json',
                success: function (result) {
                    if (result.success === true) {
                        that.invitationNeeded = result.message === 'ACTIVE'
                    } else {
                        that.errorText = result.message
                    }
                    that.ajaxActive = false
                },
                error: function (jqXHR) {
                    that.ajaxActive = false
                    console.log(jqXHR.status)
                    that.errorText = 'ERROR'
                }
            })

            this.$nextTick(function () {
                $('#eMail').focus()
            })

        }
    }
</script>

<style scoped>

</style>