<!DOCTYPE html>
<!--/*-->
Java web application for media library management.
Copyright (C) 2018  Andreas Schmitz

This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as
published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.
<!--*/-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="#{email.doi.title}"></title>
</head>
<body style="margin: 5px; padding: 0;">
<div>
	<div th:text="#{email.doi.start(${userName})}"></div>
	<div th:utext="#{email.doi.text(${serverUrl}, ${doiCode})}"></div>
	<div th:utext="#{email.doi.end}"></div>
</div>
</body>
</html>
