<!DOCTYPE html>
<!--/*-->
Java web application for media library management.
Copyright (C) 2018  Andreas Schmitz

This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as
published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program; if not, see http://www.gnu.org/licenses/#GPL.
<!--*/-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{email.newMedia.title}"></title>
</head>
<body style="margin: 5px; padding: 0;">
<div style="font-size: 16px; font-weight: bold; padding-bottom: 5px;"
        th:text="#{email.newMedia.caption(${#dates.format(importDate, 'dd.MM.yyyy')})}">
    Neuzugänge
</div>
<div>
    <ul style="padding-left: 0; margin-top: 0; margin-bottom: 10px; list-style: none;" class="list-unstyled itemlist">
        <li style="padding-bottom: 5px;" th:each="medium : ${newMedia}">
            <div style="overflow: auto; border: 1px solid #0088ce; border-radius: 5px; padding: 2px;">
                <div style="width: 100px; min-height: 100px; padding-right: 5px; display: block; float: left !important;">
                    <img style="display: block;border: 1px solid #000000; max-width: 100%; height: auto" src="" th:src="${medium.imageUrl}"/>
                </div>
                <div style="display: block; font-size: 16px; color: #0088ce;" th:text="${medium.title}">title</div>
                <div style="font-style: italic; display: block;" th:text="${medium.author}">author</div>
                <div th:text="${medium.releaseDate != null} ? ${#dates.format(medium.releaseDate, 'dd.MM.yyyy')} : ''">releaseDate</div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>